<template>
  <v-container class="overflowHidden">
    <v-row class="justify-center">
      <v-form class="form">
        <v-text-field
          label="Titre"
          required
          class="margin"
          outlined
        ></v-text-field>

        <v-file-input
          accept="image/png, image/jpeg, image/bmp"
          placeholder="Choisissez une photo"
          prepend-icon="mdi-camera"
          label="Image"
          class="margin"
          filled
        ></v-file-input>

        <v-textarea label="Votre histoire" class="margin" outlined></v-textarea>

        <v-btn dark color="teal" class="mr-4 btnForm">
          ajouter
        </v-btn>
      </v-form>
    </v-row>
  </v-container>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.margin {
  margin-top: 3%;
}

.form {
  margin-top: 300px;
  width: 700px;
}

.btnForm {
  width: 150px;
}
</style>
