<template>
  <div class="home">
    <v-container class="grey lighten-5">
      <v-row class="marginBecauseBobichHaveASmallViewport">
        <v-col cols="7">
          <Video />
          <Description />
        </v-col>

        <v-col>
          <Partner />
          <Testimony class="Testimony" />
          <ContactNumber />
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import ContactNumber from "@/components/Home/ContactNumber.vue";
import Description from "@/components/Home/Description.vue";
import Partner from "@/components/Home/Partner.vue";
import Testimony from "@/components/Home/Testimony.vue";
import Video from "@/components/Home/Video.vue";

export default {
  components: {
    ContactNumber,
    Description,
    Partner,
    Testimony,
    Video
  }
};
</script>

<style scoped>
.Testimony {
  padding-top: 2%;
}

.home {
  margin-top: 7%;
}
</style>
