<template>
  <div class="IAm">
    <Description />
    <Video class="mt-10" />
    <Links class="mt-10" />
  </div>
</template>

<script>
import Links from "@/components/IAm/Links.vue";
import Description from "@/components/IAm/Description.vue";
import Video from "@/components/IAm/Video.vue";

export default {
  components: {
    Links,
    Description,
    Video
  }
};
</script>

<style lang="scss" scoped>
.IAm {
  margin-top: 150px;
}
</style>
