<template>
  <div class="ListTestimony">
    <ListTestimony />
  </div>
</template>

<script>
import ListTestimony from "@/components/ListTestimony/Testimony.vue";

export default {
  components: {
    ListTestimony
  }
};
</script>
