<template>
  <div class="Project">
    <About />
    <Partner />
  </div>
</template>

<script>
import About from "@/components/Project/About.vue";
import Partner from "@/components/Project/Partner.vue";

export default {
  components: {
    About,
    Partner
  }
};
</script>
