<template>
  <div class="proximitySolution">
    <Description />
    <Organization />
  </div>
</template>

<script>
import Description from "@/components/ProximitySolution/Description.vue";
import Organization from "@/components/ProximitySolution/Organization.vue";

export default {
  components: {
    Description,
    Organization
  }
};
</script>
