<template>
  <div class="home container">
    <v-list class="marginBecauseBobichHaveASmallViewport">
      <v-card class="card">
        <v-list-item class="item">
          <img class="img" src="@/assets/velo.jpg" />
          <div>
            <h3>Je fais du vélo avec une prothèse de bras</h3>
            <p>
              Je suis né sans avant bras droit, je suis fan de VTT, nous avons
              développé avec mon père une prothèse qui me permet de tenir le
              guidon malgré les vibrations et les chocs !
            </p>
            <v-btn class="btn" color="teal" dark> Voir </v-btn>
          </div>
        </v-list-item>
      </v-card>

      <v-card class="card">
        <v-list-item class="item">
          <img class="img" src="@/assets/basket.jpg" />
          <div>
            <h3>Jouer au basket avec un fauteuil</h3>
            <p>
              Devenu très peu mobile du bas du corps suite à un accident de
              voiture dans ma jeune enfance, j’ai toujours souhaité continuer
              mon sport (le basket), la solution a été de me mettre au basket
              fauteuil, je joue meneur , comme avant !
            </p>
            <v-btn class="btn" color="teal" dark> Voir </v-btn>
          </div>
        </v-list-item>
      </v-card>

      <v-card class="card">
        <v-list-item class="item">
          <img class="img" src="@/assets/arc.jpg" />
          <div>
            <h3>Je fais du tir à l'arc avec un bras</h3>
            <p>
              Comment faire du tir à l’arc avec un seul bras ? Je pensais que la
              perte de ce membre me mettait un stop pour cette activité… C’était
              sans compter sur mon super moniteur et son sens de la débrouille
              !!
            </p>
            <v-btn class="btn" color="teal" dark> Voir </v-btn>
          </div>
        </v-list-item>
      </v-card>
    </v-list>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.home {
  margin-top: 6%;
}

h3 {
  margin-bottom: 2%;
}

p {
  margin: 40px;
}

.img {
  background-size: cover;
  width: 200px;
  height: 150px;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000;
}

.card {
  padding: 4%;
  margin-top: 1%;
}

.btn {
  float: right;
}
</style>
