<template>
  <div>
    <v-card class="card">
      <v-card-title class="cardTitle"> Contact </v-card-title>
      <div>
        <v-card-text>
          Vous avez besoin d'un service personnalisez contacter nous au : <br />
          00.01.02.03.04.05
        </v-card-text>
      </div>
    </v-card>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.card {
  padding: 0%;
}

.cardTitle {
  background-color: rgb(59, 155, 155);
  color: white;
}

div {
  padding: 1rem;
}
</style>
