<template>
  <div>
    <p>
      Parents, institutrices- teurs, enseignants, éducateurs sportifs,
      professions médicales ou paramédicales : Saviez-vous qu’un enfant
      hémiplégique peut faire du saut d’obstacle et du vélo ? Saviez-vous qu’en
      tant que structure sportive motivée ou adaptée au handicap vous pouvez
      vous référencer sur des sites spécialisés pour être visibles ? Saviez vous
      que TOUS les sites de l’UCPA sont équipée pour accueillir des enfants (et
      adultes) en situation de handicap ? NON ??? HANDIBOOST est là pour vous
      !!!
    </p>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
p {
  margin-top: 4rem;
  line-height: 40px;
  font-size: 18px;
}
</style>
