<template>
  <div>
    <v-card class="card">
      <v-card-title class="cardTile"> Temoignage </v-card-title>
      <div>
        <h3>J'accompagne ma fille à l'escrime.</h3>
        <v-card-text> Lorem ipsum dolor sit amet consectetur ... </v-card-text>
        <v-btn color="teal" dark class="btn"> Voir </v-btn>
      </div>
    </v-card>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.card {
  padding: 0%;
  margin-top: 15%;
}

.cardTile {
  background-color: rgb(59, 155, 155);
  color: white;
}

div {
  padding: 1rem;
}

.btn {
  background-color: rgb(59, 155, 155);
}
</style>
