<template>
  <div>
    <p>
      Il n'existe pas de solution commune à tous, mais il existe une solution
      propre à chacun.<br />
      Avec, Handiboost partagez vos idées et inspirée vous des autres.
    </p>
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/jexrW82-B0I"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
p {
  font-size: 1.5rem;
  padding: 4rem 0px;
}
</style>
