<template>
  <div class="menu white--text font-weight-bold text-uppercase title">
    <img @click="goTo('/')" src="../assets/logo.png" alt="" class="logo" />
    <p class="hashtag">#bougezcommevousêtes</p>
    <div class="nav">
      <v-menu offset-y>
        <template v-slot:activator="{ on }">
          <p v-on="on">
            boite à idées
          </p>
        </template>
        <v-list>
          <v-list-item-group>
            <v-list-item @click="goTo('/Iam')">
              <v-list-item-title>parent</v-list-item-title>
            </v-list-item>
            <v-list-item>
              <v-list-item-title>enseignant</v-list-item-title>
            </v-list-item>
            <v-list-item>
              <v-list-item-title>professionnel du sport</v-list-item-title>
            </v-list-item>
            <v-list-item>
              <v-list-item-title
                >professionnel médical et paramédical</v-list-item-title
              >
            </v-list-item>
            <v-list-item>
              <v-list-item-title>enfant</v-list-item-title>
            </v-list-item>
          </v-list-item-group>
        </v-list>
      </v-menu>
      <p>aller plus loin</p>
      <v-menu offset-y>
        <template v-slot:activator="{ on }">
          <p v-on="on">
            temoignages
          </p>
        </template>
        <v-list>
          <v-list-item-group>
            <v-list-item @click="goTo('/addTestimony')">
              <v-list-item-title>ajouter un temoignage</v-list-item-title>
            </v-list-item>
            <v-list-item @click="goTo('/listTestimony')">
              <v-list-item-title>les temoignages</v-list-item-title>
            </v-list-item>
          </v-list-item-group>
        </v-list>
      </v-menu>
      <p>solution a proximité</p>
      <p>questions/reponses</p>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      showIAm: true
    };
  },
  methods: {
    goTo(path) {
      this.$router.push(path);
    }
  }
};
</script>

<style lang="scss" scoped>
.menu {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: rgb(59, 155, 155);
}

.hashtag {
  position: absolute;
  left: 180px;
  top: 110px;
  color: #2adbdb;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-left: 160px;
}

.v-list-item {
  align-items: flex-start !important;
  text-align: start !important;
  text-transform: uppercase;
}

.logo {
  position: absolute;
  top: 0px;
  left: 10px;
  width: 150px;
}

p {
  padding: 0 !important;
  margin: 0 !important;
  cursor: pointer;
}
</style>
