<template>
  <v-container>
    <h1 class="text-uppercase font-weight-bold">Je suis parent</h1>
    <v-divider class="dark"></v-divider>
    <v-row class="mt-12 marginLR">
      <v-col cols="4">
        <v-row class="justify-center align-center fill-height">
          <img class="bd" src="../../assets/BD.jpg" alt="" />
        </v-row>
      </v-col>
      <v-col cols="8">
        <v-row class="align-center start">
          <h2>Vous souhaitez adapter vos activités en famille ?</h2>
          <p class="font-weight-medium mx-10">
            <strong
              >Du matériel adapté existe pour des situations très différentes
              :</strong
            ><br />
            - La randonnée ou la course partout et pour tous ! Pour vos balades
            en familles, utilisez une joëlette, classique, à assistance
            électrique ou double roue.<br />
            - Une ergothérapeute peut vous à aider à adapter les pédales d’un
            vélo ou encore les étriers d’équitation.<br />
            - Pour les pathologies qui entrainent une perte d’équilibre comme la
            trisomie ou la sclérose en plaque, le vélo peut se pratiquer en
            tandem ou en tricycle adapté.<br />
            - Procurez-vous un ballon cécifoot avec des grelots si vous jouez
            avec une personne déficiente visuelle.<br /><br />

            <strong>(Re)donner confianceà votre enfant :</strong><br />
            - Votre enfant a du mal à s’intégrer dans les groupes ? Il est
            sensible au regard des autres ? Vous pouvez en parler avec les
            autres enfants et les autres parents : montrez-leur la vidéo
            Handiboost, partagez les vidéos de sportifs inspirants !<br /><br />

            <strong>
              en parler aux professionnels autour de votre enfant ?</strong
            ><br />
            Leur montrer des vidéos témoignages des autres parents<br />
            Partager les vidéos d’athlètes handisport<br />
            Les rassurer<br />
            Leur proposer des idées d’activités
          </p>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
h1 {
  text-align: start !important;
}

.start {
  height: 500px;
  text-align: start !important;
}

.marginLR {
  margin: 0 100px !important;
}

.bd {
  height: 450px;
  width: auto;
}

.v-divider {
  max-width: 400px;
  border-color: rgba(0, 0, 0, 0.2) !important;
  border-width: 2px;
}
</style>
