<template>
  <v-container class="text-start marginleft mt-10">
    <p class="font-weight-bold text-uppercase">
      Retrouvez plus d'informations sur:
    </p>
    <div class="d-flex flex-column">
      <a href="#" class="grey--text text--darken-2"
        >HIZY Handicap Internationnal</a
      >
      <a href="#" class="grey--text text--darken-2"
        >Enfant différent - une souris verte</a
      >
    </div>
  </v-container>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.text-start {
  text-align: start !important;
}

a {
  text-decoration: none;
  border: none;
}

.marginleft {
  margin-left: 250px;
}
</style>
