<template>
  <v-container>
    <v-row class="justify-center">
      <iframe
        width="800"
        height="445"
        :src="videos[index]"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
      <div @click="index = otherVideo" class="ml-10">
        <img class="imgVideo" :src="showImg(imgs[index])" alt="" />
      </div>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      index: 0,
      videos: [
        "https://www.youtube.com/embed/gFmODCMHR2s",
        "https://www.youtube.com/embed/E0BSvn5_4Wc"
      ],
      imgs: ["imgVideo2.png", "imgVideo2.png"]
    };
  },
  computed: {
    otherVideo() {
      return this.index === 0 ? 1 : 0;
    }
  },
  methods: {
    showImg(img) {
      return require("../../assets/" + img);
    }
  }
};
</script>

<style lang="scss" scoped>
.imgVideo {
  width: 300px;
  height: auto;
}
</style>
